.header-div {
  display: flex;
  align-items: center;
  background: rgb(37, 37, 37);
  max-width: 1300px;
  margin: auto;
  & img {
    cursor: pointer;
  }
  & button {
    border: 1px solid black;
    background: none;
    padding: 0px;
    padding-top: 1px;
  }
  & button:active {
    border: 1px solid darkgray;
  }
}

.header-input {
  width: 70%;
  height: 30px;
  font-size: 26px;
  &:focus {
    outline: none;
  }
}
.search-icon {
  cursor: pointer;
}
