.header-div {
  display: flex;
  align-items: center;
  background: rgb(37, 37, 37);
  max-width: 1350px;
  margin: auto;
  & img {
    cursor: pointer;
  }
  & button {
    border: none;
    margin-top: 1.6px;
    background: none;
    padding: 0px;
    padding-top: 1px;
  }
}
.header-input {
  width: 70%;
  height: 30px;
  font-size: 26px;
  &:focus {
    outline: none;
  }
}
.search-icon {
  height: 35px;
  cursor: pointer;
  color: white;
  width: 50px;
}
.search-icon:hover {
  transform: scale(1.2);
}
