// body {
//   background-image: url('https://kvicnewsletter.co.kr/page/newsletter/vol29/img/sub02_01.jpg');
//   background-repeat: no-repeat;
//   background-size: cover;
// }

.main-body {
  max-width: 1200px;
  margin: auto;
  border: 1px solid black;
}
